header {
    background-color: $color-3;
    padding: 24px 0;
	.container {
		display: flex;
	}
}
.logo {
	display: inline-block;
	max-width: 160px;
}
.header-nav {
	margin-left: auto;
	display: flex;
	font-size: 22px;
}
.nav-item {
	text-align: center;
	padding: 17px 24px;
	text-decoration: none;
	color: $color-accent;
	&:hover {
		color: $color-hover;
		background: #6c98a5;
	}	
	&:active {
		color: $color-hover;
		background: #4b6972;
	}
}
