///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///color///
$color-1: #051314;
$color-2: #284349;
$color-3: #55757F;
$color-4: #55839F;
$color-5: #A3ADBC;
$color-accent: #f1f1f1;