<footer>
	<div class="container">
		<ul class="information-list  floor-options">
			<li class="information-item floor-option-item">
				<h6>Адреса:</h6>
				<div></div>
			</li>
			<li class="information-item floor-option-item">
				<h6>Кількість поверхів:</h6>
				<div></div>
			</li>
			<li class="information-item floor-option-item">
				<h6>Загальна кількість квартир:</h6>
				<div></div>
			</li>
			<li class="information-item floor-option-item">
				<h6>Кількість вільних квартир:</h6>
				<div></div>
			</li>
			<li class="information-item floor-option-item">
				<h6>Кількість акційних квартир:</h6>
				<div></div>
			</li>
			<li class="information-item floor-option-item">
				<h6>Кількість заброньованих квартир:</h6>
				<div></div>
			</li>
		</ul>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script async src="assets/js/floor.js"></script>
</body>
</html>