<footer>
	<div class="container">
		<ul class="information-list">
			<li class="information-item">
				<h6>Адреса:</h6>
				<div>Незалежності 16</div>
			</li>
			<li class="information-item">
				<h6>Кількість поверхів:</h6>
				<div>5</div>
			</li>
			<li class="information-item">
				<h6>Загальна кількість квартир:</h6>
				<div>48</div>
			</li>
			<li class="information-item">
				<h6>Кількість вільних квартир:</h6>
				<div id="floor-information-flats-free"></div>
			</li>
			<li class="information-item">
				<h6>Кількість акційних квартир:</h6>
				<div id="floor-information-flats-action"></div>
			</li>
			<li class="information-item">
				<h6>Кількість заброньованих квартир:</h6>
				<div id="floor-information-flats-reservation"></div>
			</li>
		</ul>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>
</html>